{%extends "layout.html"%}
{%load static%}
{% block content %}
    {% comment %} {{block.super}} <!-- Esto es para que se muestre el contenido del bloque content del layout.html padre--> {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
                <p class="text-center presentation-index"> Una mejor experiencia para emprendedores y líderes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 pt-5"> 
                <p class="text-center"><img src="{% static 'images/espacio_distancias.png' %}" alt="imagen Ecosistema de interes por punto de coordeandas" class="img-fluid" width="260" height="264"></p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 pt-5"> 
                <p class="text-center"><img src="{% static 'images/clusth.png' %}" alt="imagen Ecosistema de interes por punto de coordeandas" class="img-fluid" width="210" height="234"></p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 pt-5"> 
                <p class="text-center"><img src="{% static 'images/logo_oficial_ocys.png' %}" alt="imagen funcionamiento del sistema recomendador" class="img-fluid" width="260" height="264"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"> 
                <p class="justificado presentation-text-index">
                    <spam>Faster resolutions, happier customers</spam>
                    Provide 24/7 support and resolve 50% of support volume, instantly. Keep customers happy while reducing support costs.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"> 
                <p class="justificado presentation-text-index">
                    <spam>Faster resolutions, happier customers</spam>
                    As a final product, when obtaining defined models, a recommendation system is developed, with functionality that estimates the life expectancy of the microbusiness, considering the characteristics of the locality and contrasting with localities that have the same eco-demographic characteristics.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"> 
                <p class="justificado presentation-text-index">
                    <spam>Faster resolutions, happier customers</spam>
                    Provide 24/7 support and resolve 50% of support volume, instantly. Keep customers happy while reducing support costs.
                </p>
            </div>
        </div>
        
    </div>
{% endblock %}