{%extends "layout.html"%}
{%load static%}
{% block content %}
    {% comment %} {{block.super}} <!-- Esto es para que se muestre el contenido del bloque content del layout.html padre--> {% endcomment %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
                <p class="text-center presentation-index"> Una mejor experiencia para emprendedores y líderes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"> 
                <p class="text-center"><img src="{% static 'images/espacio_distancias.png' %}" alt="imagen Ecosistema de interes por punto de coordeandas" class="img-fluid" width="250" height="254"></p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"> 
                <p class="text-center"><img src="{% static 'images/clusth.png' %}" alt="imagen Ecosistema de interes por punto de coordeandas" class="img-fluid" width="200" height="214"></p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"> 
                <p class="text-center"><img src="{% static 'images/logo_oficial_ocys.png' %}" alt="imagen funcionamiento del sistema recomendador" class="img-fluid" width="250" height="254"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <p class="text-center"><spam class="badge badge-dark">Rapidas recomendaciones, Felices emprendedores</spam></p>
                <p class="justificado presentation-text-index">
                    Provide 24/7 support and resolve 50% of support volume, instantly. Keep customers happy while reducing support costs.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <p class="text-center"><spam class="text-center badge badge-dark">Potencia tu idea de Negocio</spam></p>
                <p class="justificado presentation-text-index">
                    As a final product, when obtaining defined models, a recommendation system is developed, with functionality that est.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <p class="text-center"><spam class="text-center badge badge-dark">Recomendaciones avanzados y automatizadas</spam></p>
                <p class="justificado presentation-text-index">
                    Provide 24/7 support and resolve 50% of support volume, instantly. Keep customers happy while reducing support costs.
                </p>
            </div>
        </div>
    </div>
{% endblock %}