{%extends "layout.html"%}
{%load static%}
{% block content %}
    {% comment %} {{block.super}} <!-- Esto es para que se muestre el contenido del bloque content del layout.html padre--> {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> 
                <p class="text-justify">
                    Este trabajo presenta una visión metodológica para el análisis eco demográfico del municipio Nicolás Romero localizado dentro del estado de México.,
                    Dicha metodología propone en primera instancia el análisis de datos, características y variables relacionadas a los micronegocios en la zona de interés, 
                    posteriormente se continua con la clasificación de información que permita conocer el contexto local, 
                    es decir, mostrar u otorgar el escenario local presentando a lo largo del tiempo para los micronegocios; 
                    Siendo así la obtención de un descriptor local de contexto denominado para cada periodo de tiempo
                    que mediante el uso de técnicas de Machine Learning ayudará a identificar
                    demandas o necesidades de la población permitiendo decidir sí un negocio 
                    en cierta localidad cuenta con el ecosistema adecuado para la sobrevivencia de el mismo.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
                <p class="text-center">
                    <a target="_blank" align="center">
                        <img align="right" top="500" height="340" width="420" alt="GIF" src="https://media.giphy.com/media/SWoSkN6DxTszqIKEqv/giphy.gif">
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}