{%extends "layout.html"%}
{%load static%}
{% block content %}
    {% comment %} {{block.super}} <!-- Esto es para que se muestre el contenido del bloque content del layout.html padre--> {% endcomment %}
    <div class="container scroll_div">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"> 
                <p>Oscar Suarez Nava</p>
                    <p class="justificado">
                        ¡Hola, encantado de conocerte! Mi carrera profesional desarrollada se basa en habilidades provenientes del campo de la programación de software. Haciendo usabilidad de lenguajes como Python, Java Script, SQL y Machine Learning. Tengo experiencia en el desarrollo de aplicaciones web, análisis de datos y modelos de aprendizaje automático.
                    </p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 ">
                <p class="text-center">
                    <img src="{% static 'images/OSN.JPG' %}" alt="imagen funcionamiento del sistema recomendador" class="img-fluid" width="244" height="244">
                </p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"> 
                <p>Heriberto Casarrubías Vargas</p>
                <p class="justificado">¡Hello, nice to meet you!
                    My professional career developed is based on skills from the software programming field. Making usability of languages such as Python,
                    Java Script, SQL, and Machine Learning.
                
                    I have experience in the development of web applications, data analysis, and machine learning models.
                </p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 ">
                <p class="text-center">
                    <img src="{% static '#' %}" alt="imagen perfil doctor heriberto" class="img-fluid" width="244" height="244">
                </p>
            </div>
        </div>
    </div>
{% endblock %}