{%extends "layout.html"%}
{%load static%}
{% block content %}
    {% comment %} {{block.super}} <!-- Esto es para que se muestre el contenido del bloque content del layout.html padre--> {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
                <p class='tex-primaryt'>1.-  Agende su cita via whatsApp </p>
                <form action="{% url 'save' %}" method="GET">
                    <p class="text-info">Ingrese su número de whatsApp, enseguida uno de nuestros asistentes le atendera</p>
                    <label for ="numero">Número telefonico</label>
                    <input type="text" name="numero" id="numero" placeholder="Ejemplo: 5535344599" required>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
                <p class='tex-primaryt'>2.-  Directo en la cuenta de WhatsApp de la empresa, comuniquese para nuestros servicios</p>
                <p class="text-success">Nuestro número de whatsApp es: <a>5535344599</a></p>
            </div>
        </div>
    </div>
{% endblock %}