{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout django web osc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- agregar una cabezera de la pagina -->
    <header>
        <div id="logotipo">
            <!-- logotipo de la pagina -->
            <img src="{% static 'images/logo.png' %}" alt="logo de la pagina">
            <h1>Sistema recomedador | Oscys</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
            <a href="/">Inicio</a>
            </li>
            <li>
            <a href="/abouth/">Abouth</a>
            </li>
            <li>
            <a href="/proyect/">Proyect</a>
            </li>
            <li>
            <a href="/contacs/">Contacs</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="esquina-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="conted">
        {% comment %} esto es un comentario en django {% endcomment %}
        <dic class="box">
            {%comment 'Esto es un comentario en django'%}
                <p> esto es un comentario en django</p>
            {% endcomment %}
            {% block content %}
                <h3>contenidfo fijo de un bloque original!!</h3>
            {% endblock %}
        </dic>

    </div>

    <footer>
        <p>Sistema recomendador Oscys &copy; </p>
    </footer>
</body>
</html>