{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout django web osc</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- agregar una cabezera de la pagina -->
    <header>
        <div id="logotipo">
            <!-- logotipo de la pagina -->
            <img src="{% static 'images/logo.png' %}" alt="logo de la pagina">
            <h1>Sistema web | Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
            <a href="/home/">Inicio desde el layout</a>
            </li>
            <li>
            <a href="/abouth/">nosotros desde el layout</a>
            </li>
            <li>
            <a href="/proyectos/0">proyectos desde el layout </a>
            </li>
            <li>
            <a href="/contactos-dos/">contactos desde el layout</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="esquina-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="conted">

        <dic class="box">
            <h2 class="title">Titulo de prueba</h2>
            {% block content %}
                <h3>contenidfo fijo de un bloque original!!</h3>

            {% endblock %}
        </dic>

    </div>

    <footer>
        <p>Sistema recomendador Oscys &copy; </p>
    </footer>
</body>
</html>