
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscys</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- agregar una cabezera de la pagina -->
    <header>
        <div id="logotipo">
            <!-- logotipo de la pagina -->
            <img src="{% static 'images/logo_oficial_ocys.png' %}" alt="logo de la pagina">
            <h1>Sistema recomedador | Oscys</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
            <a href="/">Inicio</a>
            </li>
            <li>
            <a href="{%url 'about' %}">Acerca de Oscys</a>
            </li>
            <li>
            <a href="{%url 'recomender' %}">Recomendación</a>
            </li>
            {% comment %} <li>
            <a href="{%url 'contacs' %}">Contacs</a>
            </li> {% endcomment %}
            {% comment %} <li>
                <a href="{%url 'show_predict' %}">Predictions</a>
            </li> {% endcomment %}
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="esquina-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="conted">
        {% comment %} esto es un comentario en django {% endcomment %}
        <dic class="box">
            {%comment 'Esto es un comentario en django'%}
                <p> esto es un comentario en django</p>
            {% endcomment %}
            {% block content %}
                <h3>contenidfo fijo de un bloque original!!</h3>
            {% endblock %}
            <!-- Bootstrap JS and dependencies -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            {% block extra_js %}{% endblock %}
        </dic>

    </div>

    <footer>
        <p>Sistema recomendador Oscys &copy; {% now "d/m/Y"%} </p>
    </footer>
</body>
</html>