{%extends "layout.html"%}
{%load static%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> 
                <form action="{% url 'save' %}" method="GET">
                    <p class="text-info">Seleccione el espacio de coordenadas donde desea situar su local</p>
                    <label for ="coordenadas">Coordenadas</label>
                    <input type="text" name="coordenadas" id="coordenadas" placeholder="Ejemplo: 19.619825075911173, -99.31215790614145" required>
                    <input type="submit" value="Probar">
                </form>
                <p class="text-warning">Recomendaciomes dado el punto seleccionado: </p>
                <p> {{name_classification}} </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
                <p class="text-center">
                    <a target="_blank" align="center">
                        <div id="map">

                        </div>
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> 
                {% if code_class %}
                    <p class="text-center">
                        {{code_class}}
                    </p>
                    <p class="text-center">
                        <img src="{% static 'images/ratios_influence/'%}{{code_class}}.png" alt="img de influence, parte del sistema recomendador" class="img-fluid" width="430" height="430">
                    </p>
                {% else %}
                    <p class="text-center">
                        <img src="{% static 'images/map_CDNR.png'%}" alt="sn img ratio de influence, parte del sistema recomendador" class="img-fluid" width="430" height="430">
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% comment %} comienza logica java script para le archivo recomender.html {% endcomment %}
    <script src="{% static '/javascript/recomender.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3MWsW9NSSkHZoZHBSqs06NV5B19Vdbd0&callback=initMap"></script>
{% endblock %}
