{%extends "layout.html"%}
{%load static%}
{% block content %}
    {% comment %} {{block.super}} <!-- Esto es para que se muestre el contenido del bloque content del layout.html padre--> {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> 
                <form action="{% url 'save' %}" method="GET">
                    <p class="text-info">Seleccione el espacio de coordenadas donde desea situar su local</p>
                    <label for ="coordenadas">Coordenadas</label>
                    <input type="text" name="coordenadas" id="coordenadas" placeholder="Ejemplo: 19.619825075911173, -99.31215790614145" required>
                    <input type="submit" value="Probar">
                </form>
                <p class="text-warning">Recomendaciomes dado el punto seleccionado: </p>
                <p> {{predictions_classification}} </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
                <p class="text-center">
                    <a target="_blank" align="center">
                        {% comment %} <img align="right" top="500" height="340" width="420" alt="GIF" src="https://media.giphy.com/media/SWoSkN6DxTszqIKEqv/giphy.gif"> {% endcomment %}
                        <div id="map">

                        </div>
                        <script>
                        async function initMap() {
                            // Request needed libraries.
                            const { Map } = await google.maps.importLibrary("maps");
                            const myLatlng = {lat:19.617840149224154, lng:-99.30295140508093};
                            const map = new google.maps.Map(document.getElementById("map"), {
                                zoom: 14,
                                center: myLatlng,
                            });
                            // Create the initial InfoWindow.
                            let infoWindow = new google.maps.InfoWindow({
                                content: "Da Click en el mapa para obtener las coordenadas de Latitud y Longitud!",
                                position: myLatlng,
                            });
                            
                            infoWindow.open(map);
                            // Configure the click listener.
                            map.addListener("click", (mapsMouseEvent) => {
                                // Close the current InfoWindow.
                                infoWindow.close();
                                // Create a new InfoWindow.
                                infoWindow = new google.maps.InfoWindow({
                                position: mapsMouseEvent.latLng,
                                });
                                infoWindow.setContent(
                                JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2),
                                coordenadas.value = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                                );
                                infoWindow.open(map);
                            });
                            }
                            
                            initMap();
                        </script>

                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3MWsW9NSSkHZoZHBSqs06NV5B19Vdbd0&callback=initMap">

                        </script>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}